a {
  position: relative;
  top: 100px;
  left: 80px;
  background-color: palevioletred;
  padding: 15px;
  color: black;
}

#timer {
  padding-top: 30px;
  float: right;
  font-size: 30px;
}
#wrapper {
  height: 500px;
  width: 500px;
  position: absolute;
  left: 30%;
  top: 20%;
  padding-top: 30px;
  border: 5px solid blue;
}

h1,
h3 {
  text-align: center;
}
#start {
  font-size: 25px;
  padding: 20px;
  margin-top: 50px;
  position: relative;
  left: 150px;
  border: 3px solid purple;
  background-color: palevioletred;
}

#goBack {
  background-color: purple;
  position: relative;
  padding: 10px;
  font-size: 20px;
  color: white;
  top: 30%;
  left: 55%;
  width: auto;
  text-align: center;
  text-decoration: none;
}

#clear {
  background-color: purple;
  position: relative;
  padding: 10px;
  font-size: 20px;
  color: white;
  top: 30%;
  right: 5%;
  text-align: center;
}

button {
  border-radius: 8px;
}

textarea {
  width: 90%;
  margin: 20px;
}

#Submit {
  background-color: purple;
  margin-left: 33%;
  padding: 15px 32px;
  font-size: 20px;
  color: white;
}

label {
  margin-right: 10px;
}
input {
  margin-bottom: 20px;
  width: 50%;
  border: 1px solid lightgray;
}

h1 {
  text-align: center;
}

li {
  background-color: purple;
  margin-top: 10px;
  padding: 5px 15px;
  width: 80%;
  font-size: 18px;
  color: white;
}

#createDiv {
  margin-top: 20px;
  border-top: 1px solid lightgray;
}
/* A Media Query max-width: 768px */
@media screen and (max-width: 768px) {
  /* Resized content to fit 768px  */
  body {
    min-width: 640px;
  }
  /* Resized main-content to fit 768px  */
  #wrapper {
    position: absolute;
    left: 10%;
  }
  a {
    margin-left: 10%;
  }
}
